name: Generate code

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  generate-code:
    runs-on: ubuntu-latest
    steps:  
      - name: Install protoc
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler
      - name: Install Go protoc plugins
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          echo "$HOME/go/bin" >> $GITHUB_PATH
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Generate, commit, and push
        run: |
          ./gen.sh
          git config user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git commit -am "chore: regenerate code"
          git push
